# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.WebApplication1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Учебка\APBDProjects\cwiczenia11_zen-Darkniment\WebApplication1\.idea\.idea.WebApplication1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
